NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=xxxxxxxxx
CLERK_SECRET_KEY=xxxxxxxxx

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="xxxxxxxxx"

# Direct connection to the database. Used for migrations.
DIRECT_URL="xxxxxxxxx"

UPLOADTHING_SECRET=xxxxxxxxx
UPLOADTHING_APP_ID=xxxxxxxxx

LIVEKIT_API_KEY=xxxxxxxxx
LIVEKIT_API_SECRET=xxxxxxxxx
NEXT_PUBLIC_LIVEKIT_URL=xxxxxxxxx

NEXT_PUBLIC_SITE_URL=xxxxxxxxx
